.about-body {
    height: auto;
    padding: 2em;
    line-height: 1.8;

}

.about-header {
    width: 100%;
    text-align: center;
    font-size: 2vmax;
    font-weight: bold;

    margin-bottom: 0.5em;
}

.about-content {
    display: flex;
    width: 100%;
}

.about-left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.about-description {
    backdrop-filter: blur(5px);
    text-align: justify;
    padding: 1em;
    font-size: 1em;
    border-radius: 1em;
    background: linear-gradient(90deg, #9b8bec49, #6b5bbc41);
    border: 1px solid #b49bff88;
    z-index: 1000;
    animation: appear2 5s linear;
    animation-timeline: view();
    animation-range: entry cover 30%;
}

.about-description p {
    background: linear-gradient(to right, #daceff, #ffd3fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-right {
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 1em;
    position: relative;


}

.about-description strong {
    background: linear-gradient(to right, #f1ecff, #ffd3fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-experience {
    width: 100%;
    backdrop-filter: blur(5px);
    padding: 1em;
    font-size: 1em;
    border-radius: 1em;
    background: linear-gradient(90deg, #9b8bec49, #6b5bbc41);
    border: 1px solid #b49bff88;
    z-index: 1000;
    animation: appear2 5s linear;
    animation-timeline: view();
    animation-range: entry cover 30%;
}

.experience-header {
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;

    margin-bottom: 0.5em;
}

.experience-tab-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.experience-footer {
    text-align: center;
    margin-top: 1em;

}

.social-body {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.5em;
}

.social {
    padding: 0.1em 1em;
    background: linear-gradient(90deg, #9b8bec49, #6b5bbc41);
    border: 1px solid #b49bff88;
    border-radius: 1em;

    display: flex;
    align-items: center;
    gap: 0.2em;
    position: relative;

}

.social-icon {
    opacity: 0.8;
}

.social-link {
    cursor: pointer;
    background: linear-gradient(to right, #f1ecff, #ffd3fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.social-link:hover {
    text-decoration: underline !important;
    opacity: 0.8;
}

.social-link a:hover {
    text-decoration: underline !important;

}

.copy-icon {
    margin-left: 0.5em;
    cursor: pointer;
}

.copy-icon:hover {
    opacity: 0.8;
}

.experience-footer p {
    background: linear-gradient(to right, #daceff, #ffd3fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.copy-tag {
    position: absolute;
    bottom: -3em;
    right: 0.5em;
    margin-left: 0.5em;
    font-size: 0.8em;
    color: #fcfcfc;
    background-color: #201e2d;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    animation: fadeInOut 5s ease;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes appear2 {
    from {
        opacity: 0;
        scale: 0.5;
        /* transform: translateX(-100px); */
        /* clip-path: inset(100% 100% 0 0); */
    }

    to {
        opacity: 1;
        scale: 1;
        /* transform: translate(0px); */
        /* clip-path: inset(0 0 0 0); */

    }

}





@media (max-width: 768px) {

    .about-content {
        flex-direction: column;
    }

    .about-header {
        font-size: 3vmax;
    }

    .about-left {
        width: 100%;
    }

    .about-right {
        width: 100%;
    }

    .social-body {
        flex-direction: column;
        gap: 0.5em;
    }

    .experience-footer p {
        font-size: 0.8em;
    }

}