.home-container {
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background-color: #030014;
}

.background-video {
    position: absolute;
    /* top: -49%; */
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    /* rotate: 180deg; */

}

.home-content {
    position: relative;
    height: 100%;
    z-index: 1;

    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;


    padding: 0 2em;
}

.home-left {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    z-index: 10;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2em 2em;

}

.content-tag {
    background-color: #6b5bbc41;
    background: linear-gradient(to right, #B49BFF, #ff9bfc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0.5em 1em;
    border-radius: 2em;
    border: 1px solid #B49BFF;
    backdrop-filter: blur(15px);

    display: flex;
    align-items: center;
    gap: 0.3em;
    /* margin-bottom: 2em; */
    box-shadow: inset 0 0 10px #271e535d;
    animation: slide-in-from-top 1s ease-in-out forwards;
    position: relative;

}




.sparkle-icon {
    color: #B49BFF;
}

.content-body {

    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    height: 100%;

}

.left-top {
    height: 50%;
    display: flex;
    align-items: flex-end;
    padding: 1em 0;
}

.left-bottom {
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.content-title {
    font-size: 4vmax;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    display: flex;
    animation: slide-in 2s ease forwards;
    animation-name: slide-in-from-left;
}

.highlight-text {
    background: linear-gradient(to right, #8336ef, #08c4ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-description {
    margin-top: 0.5em;
    font-size: 400;
    font-size: 1.2vmax;
    color: #b5b7c0;
    animation: slide-in-from-left 2s ease forwards;

}

.contact-button-body {
    padding: 1em 0;
}

.contact-button {
    border: none;
    border-radius: 0.5em;
    padding: 0.8em 3em;
    cursor: pointer;
    color: #fcfcfc;
    font-weight: 400;
    background: linear-gradient(180deg, #3c087e00, #3c087e6b), #712fff3d;
    box-shadow: inset 0 0 12px #bf97ff70;
    animation: slide-in-from-left 2s ease forwards;
}


.contact-button:hover {
    box-shadow: inset 0 0 18px #cdafff70;
}

.home-right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-image {
    height: 80%;
    animation: slide-in-from-right 2s ease forwards;

}




@keyframes slide-in-from-top {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-from-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes slide-in-from-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@media (max-width: 768px) {



    .background-video {
        object-fit: contain;
        transform: scale(2);
        margin-top: -7em;
    }

    .home-content {
        flex-direction: column;
        margin-top: -7em;
    }

    .home-left {
        width: 100%;
        position: absolute;
        height: auto;
        top: 55dvh;
        padding: 1em 1em;
    }

    .content-body {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
        height: 100%;

    }

    .content-tag {

        background: linear-gradient(to right, #ddd2ff, #ffd7fe);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }


    .content-title {
        font-size: 4vmax;
    }


    .content-description {

        font-size: 2vmax;

    }

    .home-right {
        width: 100%;
        height: 100%;
        justify-content: center;
        position: relative;
        z-index: -10;
    }

    .hero-image {
        height: auto;
        width: 100%;
        object-fit: fill;
    }

}